<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>添加应用</title>
</head>
<body>
<div style="width:30%;height:80%;margin-left:35%;">
    <h3 class="text-center">添加应用</h3>
    <form action="/app/insert" method="post">
        <table class="table table-striped table-bordered table-hover text-center">
            <tr>
                <td><label form="appKey">应用Key</label></td>
                <td><input class="form-control" type="text" name="appKey"></td>
            </tr>
            <tr>
                <td><label form="appName">应用名称</label></td>
                <td><input class="form-control" type="text" name="appName"></td>
            </tr>
            <tr>
                <td><label form="sendType">是否使用模板</label></td>
                <td>
                    <select name="sendType" class="form-control">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label form="templateSign">模板标识</label></td>
                <td>
                    <input class="form-control" type="text" name="templateSign">
                </td>
            </tr>
            <tr>
                <td><label form="providerSign">供应商标识</label></td>
                <td>
                    <input class="form-control" type="text" name="providerSign">
                </td>
            </tr>
            <tr>
                <td><label form="sendTimeStatus">发送时间开关</label></td>
                <td>
                    <select name="sendTimeStatus" class="form-control">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label form="appkey">发送开始时间</label></td>
                <td><input class="form-control" type="time" name="sendStime"></td>
            </tr>
            <tr>
                <td><label form="appkey">发送结束时间</label></td>
                <td><input class="form-control" type="time" name="sendEtime"></td>
            </tr>
            <tr>
                <td><label form="appkey">黑名单开关</label></td>
                <td>
                    <select name="blacklistStatus" class="form-control">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label form="appkey">备注</label></td>
                <td><input class="form-control" type="text" name="remark"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary btn-lg">提 交</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>